#right-sidebar {
    width: 250px;
    background-color: var(--card-bg);
    color: var(--text-color);
    overflow: hidden;
    border-left: 1px solid var(--border-color);
    height: calc(100vh - 100px);
    position: fixed;
    top: 100px;
    right: 0;
    z-index: 900;
}

#right-sidebar.collapsed {
    width: 80px;
}

#right-sidebar-header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-color);
    border-bottom: 1px solid var(--border-color);
    white-space: nowrap;
    overflow: hidden;  # TODO перенести в текстовый элемент
    text-overflow: ellipsis;  # TODO перенести в текстовый элемент
}

#right-sidebar.collapsed #right-sidebar-header {
    justify-content: center;
}

#right-sidebar-content {
    padding: 10px;
    overflow-y: auto;
    max-height: calc(100% - 80px);
}

#right-toggle-btn {
    height: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    background: none;
    border: none;
    color: var(--text-color);
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

#right-toggle-btn:hover {
    background-color: var(--border-color);
    aspect-ratio: 1/1;
}

.right-sidebar-text {
    margin-right: 5px;
}

.collapsed .right-sidebar-text {
    display: none;
}

.handler-info {
    margin-top: 15px;
    padding: 10px;
    background-color: var(--light-color);
    border-radius: 10px;
}

.handler-name {
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--accent-color);
}

.handler-description {
    font-size: 0.9em;
    margin-bottom: 5px;
    color: var(--text-color);
    margin-bottom: 10px;
}

.handler-description:empty {
    display: none;
}

.handler-meta {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
}

.handler-version {
    color: var(--text-color);
}

.handler-version::before {
    content: "Версия: ";
}

.handler-workers::before {
    content: "Доступно: ";
}

.handler-workers.available {
    color: var(--status-done-color);
}

.handler-workers.unavailable {
    color: var(--status-error-color);
}

.handler-warning {
    color: var(--status-done-color);
    font-size: 0.9em;
    margin-top: 10px;
}
